################################################################################
# Este archivo .gitignore ha sido creado automáticamente por Microsoft(R) Visual Studio.
################################################################################

/.vs
/laboatorio 2-2/.vs/laboatorio 2-2
/laboatorio 2-2/.vs/ProjectEvaluation
/laboratorio 3-1/.vs/laboratorio 3-1
